@import '../../assets/colors';

.modal {
  height: 100vh;
  width: 100vw;
  background-color: $bg-overlay;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: 0.5s;
  z-index: 1;

  &.open {
    opacity: 1;
    pointer-events: all;
  }
}

.modalContent {
  background-color: $bg-modal;
  padding: 40px 45px;
  transform: scale(0.5);
  transition: 0.4s all;
  width: 50vh;
  margin: 0 50px;

  &.open {
    transform: scale(1);
  }
}

.cross {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
  z-index: 1;

  &::before, &::after {
    content: '';
    position: absolute;
    height: 2px;
    width: 30px;
    top: 50%;
    left: 50%;
    background: $primary;
    border-radius: 5px;
  }

  &::before {
    transform: translate(-50%, -50%) rotate(45deg);
  }

  &::after {
    transform: translate(-50%, -50%) rotate(-45deg);
  }
}

@media screen and (max-width: 425px) {

  .modalContent {
    height: 100vh;
    display: flex;
    margin: 0;
  }

  .cross {
    &::before, &::after {
      background: $secondary;
    }
  }
}