@import '../../assets/colors';

.prevButton,
.nextButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.slick-slide img {
  margin: auto;
  height: 100%;
  max-height: 800px;
  object-fit: contain;
}

li.slick-active > button::before {
  color: $secondary !important;
}

@media screen and (max-width: 768px) {

  .slick-slide img {
    width: 100%;
  }

  .slick-dots li {
    margin: 0;
  }

  .prevButton.slick-arrow.slick-prev,
  .nextButton.slick-arrow.slick-next {
    display: none;
  }
}
