@import '../../assets/colors';

.menu {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 100px 0;
  background-color: $primary;
  position: relative;

  .button {
    margin-top: 50px;
  }

}

.menuTitle {
  color: $secondary;
  font-size: 42px;
  line-height: 1.23;
  font-weight: 300;
  margin-bottom: 30px;
  text-align: center;
}

@media screen and (max-width: 425px) {

  .menu {
    padding: 20px 0;
  }
}
