@import '../../assets/colors';

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-row-gap: 40px;
}

.formTitle {
  font-size: 36px;
  line-height: 1.23;
  font-weight: 300;
  color: $secondary;
  text-align: center;
}

.formSubTitle {
  font-size: 16px;
  line-height: 1.23;
  font-weight: 300;
  color: $secondary;
  text-align: center;
}

