@import '../../assets/layout/colors';

.footer {
  background-color: $footer-bg-color;
  width: 100%;
  margin-top: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px 0 100px;

  &__wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: flex-start;
    grid-column-gap: 50px;
    grid-row-gap: 50px;

    &-col {
      display: flex;
      flex-direction: column;
      grid-row-gap: 10px;
    }
  }

  &__title {
    color: $footer-text-color;
    font-size: 16px;
    font-weight: 500;
  }

  &__text {
    color: $footer-text-color;
    font-size: 16px;
    font-weight: 300;
    text-decoration: none;
  }


  @media screen and (max-width: 768px) {
    &__wrapper {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media screen and (max-width: 480px) {
    &__wrapper {
      grid-template-columns: 1fr;
    }
  }
}
