$primary: #ffffff;
$secondary: #262626;

//button
$btn-bg-color: $secondary;
$button-bg-disabled-color: #7b7b7b;

// fonts
$error: #ff0000;

// bg
$bg-color: $secondary;
$bg-overlay: rgba(0, 0, 0, 0.8);
$bg-modal: $primary;
$bg-gallery: #7b7b7b;

// Footer
$footer-bg-color: $secondary;
$footer-text-color: $primary;
